min_level: info
#min_level: trace
max_level: fatal
caller: false
metadata: null
writers:
- type: file
  filename: lumenta.log
  max_size: 10
  max_age: 0
  max_backups: 1
  local_time: false
  compress: false
- type: stdout
  format: pretty-colored
  time_format: 2006-01-02 15:04:05
  min_level: trace
  max_level: fatal
