<div class="breadcrumbs">
    <a class="breadcrumb" href="/" title="{{ t "nav.page.home.label"}}">
        {{ template "icon" (i "nav.page.public.home" (t "nav.page.home.label")) }}
    </a>
{{- $p:= "page" -}}
{{- range $i, $v := . -}}
    {{- if eq $v.Type $p -}}
        {{ template "icon" (i "ui.breadcrumbs.separator" "" "sep") }}
    {{- else -}}
        {{ template "icon" (i "ui.breadcrumbs.heavy_separator" "" "sep") }}
    {{- end -}}
    {{- if $v.Link -}}
        <a class="breadcrumb" href="{{$v.Link}}" title="{{$v.Title}}">{{$v.Label}}</a>
    {{- else -}}
        <span class="breadcrumb">{{$v.Label}}</a>
    {{- end -}}
    {{- $p = $v.Type -}}
{{ end }}
</div>