<div class="breadcrumbs">
    <a class="breadcrumb" href="/" title="{{ t "nav.page.home.label"}}">
        {{ template "icon" (i "nav.page.public.home" (t "nav.page.home.label")) }}
    </a>
{{- $p:= "page" -}}
{{- range $i, $v := . -}}
    {{- if eq $v.Type $p -}}
        {{ template "icon" (i "ui.breadcrumbs.separator" "" "sep") }}
    {{- else -}}
        {{ template "icon" (i "ui.breadcrumbs.heavy_separator" "" "sep") }}
    {{- end -}}
    {{- if $v.URL -}}
        <a class="breadcrumb" href="{{$v.TemplateURL}}" title="
        {{- if $v.TitleKey -}}
            {{- t $v.TitleKey $v.TitleMap -}}
        {{- else -}}
            {{- $v.Title -}}
        {{- end -}}
        ">
        {{- if $v.LabelKey -}}
            {{- t $v.LabelKey $v.LabelMap -}}
        {{- else -}}
            {{- $v.Label -}}
        {{- end -}}
        </a>
    {{- else -}}
        <span class="breadcrumb">
        {{- if $v.LabelKey -}}
            {{- t $v.LabelKey $v.LabelMap -}}
        {{- else -}}
            {{- $v.Label -}}
        {{- end -}}
        </a>
    {{- end -}}
    {{- $p = $v.Type -}}
{{ end }}
</div>