<!-- buttons -->
<a href="{{ albumsRootPath }}" class="action button action-public">
    {{ template "icon" (i "nav.page.public.albums" (t "nav.page.public.albums.label")) }}
</a>

<a href="{{ tagsRootPath }}" class="action button action-public">
    {{ template "icon" (i "nav.page.public.tags" (t "nav.page.public.tags.label")) }}
</a>

{{- if eq .User.Role "admin" -}}
<a href="{{ adminRootPath }}" class="action button action-admin">
    {{ template "icon" (i "nav.page.public.admin_main" (t "nav.page.public.admin.label") "admin-icon") }}
</a>
{{- end -}}