<div class="site-footer">
  <div class="site-footer-inner">
    <div class="site-footer-copy">
      {{- if .Site.Footer.CopyrightDate -}}
      © {{ .Site.Footer.CopyrightDate }}
      {{ with .Site.Author }}{{ . }}{{ else }}{{ .Site.Title }}{{ end }}
      {{- end -}}
    </div>
    {{ with .Site.Footer.Note }}
      <div class="site-footer-note">
        {{ . }}
      </div>
    {{ end }}
    <div class="site-footer-powered">
      Powered by <a href="https://github.com/ignisVeneficus/lumenta" rel="noopener" target="_blank">{{ icon "lumenta-dark" "inline-icon" "" }} <span class="text">Lumenta</span></a>
    </div>
  </div>
</footer>