{{- if .Images -}}
<div class="imageGrid">
    {{- range .Images -}}
        <figure class="tile {{ gridTileRole . }}" {{ gridRectToVar . }}>
            <a href="{{ .URL }}" title="{{ .Caption }}">
                <img
                    src="{{ imagePath .ImgId "w1024" }}"
                    srcset="{{ gridTileImgList .ImgId 640 1024 1600 2400 }}"
                    sizes="
                      (max-width: 600px) 100vw,
                      (max-width: 1024px) 50vw,
                      33vw
                    "
                    alt="{{ .Caption }}"
                    loading="lazy"
                    decoding="async"
                >
                <figcaption class="caption">{{ .Caption }}</figcaption>
            </a>
        </figure>
    {{- end -}}
</div>
{{- end -}}