<div id="login" class="action">
  <div class="name">
    {{- if .UserName -}}
      {{ .UserName }}
    {{- else -}}
      Guest
    {{- end -}}
  </div>
  {{- if eq .Role "admin" -}}
    <div class="fa-solid fa-user-shield status status--admin"
       aria-label="Admin"></div>
  {{- else if eq .Role "user" -}}
    <div class="fa-solid fa-user-check status status--user"
       aria-label="User"></div>
  {{- else -}}
    <div class="fa-solid fa-user status status--guest"
       aria-label="Guest"></div>
  {{- end -}}
</div>