{{- if gt .MaxPage 1 -}}
<div class="pagination">
    <div class="wrapper">
        <form method="GET">
        <div class="pagesButtons">
            {{- if gt .ActPage 1 -}}
            <a href="{{ .First }}" class="action firstButton formButton barButton"><div class="icon fa-solid fa-angles-left" title="{{ t "nav.pagination.first.label"}}"></div></a>
            <a href="{{ .Prev }}"  class="action prevButton formButton barButton"><div class="icon fa-solid fa-angle-left" title="{{ t "nav.pagination.prev.label"}}"></div></a>
            {{- else -}}
            <span class="action disabled firstButton formButton barButton"><div class="icon fa-solid fa-angles-left" title="{{ t "nav.pagination.first.label"}}"></div></span>
            <span class="action disabled prevButton formButton barButton"><div class=" icon fa-solid fa-angle-left" title="{{ t "nav.pagination.prev.label"}}"></div></span>
            {{- end -}}
            <div class ="pageText text">Page:</div>
            <input type="text" name="{{.Name }}" value="{{.ActPage }}"/>
            <button class="action formButton barButton jump"><div class="icon fa-solid fa-angle-down" title="{{ t "nav.pagination.jump.label"}}"></div></button>
            <div class="text maxPage">of {{.MaxPage }}</div>
            {{- if lt .ActPage .MaxPage -}}
            <a href="{{ .Next }}" class="action nextButton formButton barButton"><div class="icon fa-solid fa-angle-right" title="{{ t "nav.pagination.next.label"}}"></div></a>
            <a href="{{ .Last }}" class="action lastButton formButton barButton"><div class="icon fa-solid fa-angles-right" title="{{ t "nav.pagination.last.label"}}"></div></a>
            {{- else -}}
            <span class="action disabled nextButton formButton barButton"><div class="icon fa-solid fa-angle-right" title="{{ t "nav.pagination.next.label"}}"></div></span>
            <span class="action disabled lastButton formButton barButton"><div class="icon fa-solid fa-angles-right" title="{{ t "nav.pagination.last.label"}}"></div></span>
            {{- end -}}
        </div>
        </form>
    </div>
</div>
{{- end -}}
