<ul class="tag-tree tree">
    {{- range . -}}
        <li class="tag-node tree-node">
        {{- if .Children -}}
            <input type="checkbox" id="toggle-{{ .ID }}" class="tag-toggle tree-toggle" checked>
            <label for="toggle-{{ .ID }}" class="tag-label tree-label">
                {{- template "icon" (i "action.tree.tag.toggle" (t "nav.tree.toggle") "tag-icon tree-icon")}}
                {{- template "partials/tag-inner.html" .}}
            </label>
            {{ template "partials/tag-forest.html" .Children }}
        {{- else -}}
            <span class="tag-leaf tree-leaf">
                {{- template "partials/tag-inner.html" .}}
            </span>
        {{- end -}}
        </li>
    {{- end -}}
</ul>
