<ul class="tag-tree">
  {{- range . -}}
    <li class="tag-node">
      {{- if .Children -}}
        <input type="checkbox" id="toggle-{{ .ID }}" class="tag-toggle" checked>
        <label for="toggle-{{ .ID }}" class="tag-label">
          <i class="fa-solid fa-chevron-right tag-icon icon"></i>
          <a href="{{ tagPath .ID }}" class="tag-link">{{ .Name }}</a>
        </label>
        {{ template "partials/tag-tree.html" .Children }}
      {{- else -}}
        <span class="tag-leaf">
          <a href="{{ tagPath .ID }}" class="tag-link">{{ .Name }}</a>
        </span>
      {{- end -}}
    </li>
  {{- end -}}
</ul>
