{{ define "page-head" }}
    {{template "partials/dropdown-head.html" }}
    {{template "partials/rules-head.html" }}
    <script src="/static/js/admin-album.js" defer></script>
    <script src="/static/js/flash.js" defer></script>
{{ end }}

{{ define "page-js" }}
        {{- if .Album.Flash -}}
            window.FLASH_FROM_SERVER = {{ toJSON .Album.Flash }};
        {{- end -}}
{{ end }}


{{ define "main" }}
<div class="breadcrumbs-wrapper">
{{- with .Breadcrumbs }}
    {{- template "partials/breadcrumbs.html" . -}}
{{- end -}}
</div>

<div class="admin-layout album-page">
    {{- template "partials/admin/action-rail.html" . -}}

    <div class="content">
        <div id="flash-container">
        </div>

        <form method="POST" action="">
            <div class="form-action">
                <button type="submit" class="action label-button">
                    {{- template "icon" (i "action.common.save" (t "action.common.save.label")) -}}
                    {{- t "action.common.save.short" -}}</button>
                <a class="action label-button" href="{{ adminAlbumsPath }}">
                    {{- template "icon" (i "action.common.cancel" (t "action.common.cancel.label")) -}}
                    {{- t "action.common.cancel.short" -}}</a>
            </div>
            <div class="colums">
                <div class="column column-1">
                    <div class="image-panel panel">
                        <div class="image-preview">
                            {{- if .Album.CoverImage -}}
                            <img
                                class="derivative-img"
                                src="{{ imagePath .Album.CoverImage "s800" }}"
                                loading="lazy"
                                decoding="async"
                            >
                            {{- else -}}
                            <div class="no-image">
                                {{ template "icon" (i "page.admin.album.cover_placeholder" (t "page.admin.album.cover_placeholder"))}}
                            </div>
                            {{- end -}}
                        </div>
                    </div>
                </div>
                <div class="column column-2">
                    <div class="panel">
                        {{ with index .Album.Errors (fieldName "_") }}
                            {{ range . }}
                                <div class="error">{{ . }}</div>
                            {{ end }}
                        {{ end }}

                        <div class="block">
                            <label>{{ t "page.common.name"}}:</label>
                            <input name="name" required value="{{ .Album.Name }}">

                            {{ with index .Album.Errors (fieldName "name") }}
                                {{ range . }}
                                    <div class="error">{{ . }}</div>
                                {{ end }}
                            {{ end }}
                        </div>
                        <div class="block">
                            <label>{{ t "page.common.description"}}:</label>
                            <textarea name="description">{{ .Album.Description }}</textarea>
                            {{ with index .Album.Errors (fieldName "description") }}
                                {{ range . }}
                                    <div class="error">{{ . }}</div>
                                {{ end }}
                            {{ end }}
                        </div>
                        <div class="block">
                            <label>{{ t "page.admin.album.parent_album"}}:</label>
                            <div
                                class="xselect"
                                data-mode="single"
                                data-src='{{ apiAdminAlbumsPath "tree" }}'
                                data-name="parent_id"
                                data-label-key="name"
                                data-id-key="id"
                                data-pill-label-key="fullName"
                                ><script type="application/json" class="xselect-selected">
                                [{{- if .Album.ParentID -}}{{- .Album.ParentID | toJS -}}{{- end -}}]
                                </script>
                                </div>

                            {{ with index .Album.Errors (fieldName "parent_id") }}
                                {{ range . }}
                                    <div class="error">{{ . }}</div>
                                {{ end }}
                            {{ end }}
                        </div>
                    </div>
                </div>
                <div class="column column-3">
                    <div class="ACL-panel panel">
                        <div class="title">{{ t "page.admin.common.acl_settings"}}:</div>
                        {{ with .Album }}           
                            {{ template "partials/admin/acl-settings.html" .}}
                        {{ end }}
                    </div>
                </div>
            </div>
            <div class="rule-panel panel">
                <div class="title">{{ t "page.admin.album.rules"}}:</div>
                <div
                    class="xrules"
                    data-output-input="json_rules"
                    data-rules-elem="rules-data"
                    data-tags-url='{{ apiAdminTagsPath "tree" }}'
                    data-albums-url='{{ apiAdminAlbumsPath "tree" }}'
                    >
                    </div>
                <input name="json_rules" id="json_rules" type="hidden" value="[]"/>
                <script id="rules-data" type="application/json">
                    {{ .Album.RuleJSON | toJS}}
                </script>
            </div>
        </form>
    <div>
</div>
{{ end }}