{{ define "main" }}
<div class="breadcrumbs-wrapper">
{{- with .Breadcrumbs }}
    {{- template "partials/breadcrumbs.html" . -}}
{{- end -}}
</div>

<div class="admin-layout fs-page">
    {{- template "partials/admin/action-rail.html" . -}}
    <div class="content">
        <div class="fs">
            <div class="section"><div class="title">
                {{- template "icon" (i "page.admin.fs.directories" (t "page.admin.fs.directories") "title-icon") -}}
                {{ t "page.admin.fs.directories"}}</div></div>
            {{- if .Dirs.Cards -}}
                {{- template "partials/card-grid.html" .Dirs -}}
            {{- else -}}
            <div class="not-found">{{ t "page.admin.fs.no_directories"}}</div>
            {{- end -}}
        </div>
        <div class="images">
            <div class="section"><div class="title">
                {{- template "icon" (i "page.admin.fs.images" (t "page.admin.fs.images") "title-icon") -}}
                {{ t "page.admin.fs.images"}}</div></div>
            {{- if .Images.Cards -}}
                {{- template "partials/card-grid.html" .Images -}}
            {{- else -}}
            <div class="not-found">{{ t "page.admin.fs.no_images"}}</div>
            {{- end -}}

        </div>
    <div>
</div>
{{ end }}