{{ define "page-head" }}
    {{- if .Image.SingleMap -}}
       {{template "partials/map/head.html" }}
    {{- end -}}
    {{template "partials/dropdown-head.html" }}
    <script src="/static/js/pathbuilder.js"></script>
    <script src="/static/js/admin-image.js" defer></script>
    <script src="/static/js/flash.js" defer></script>
{{ end }}

{{ define "page-js" }}
    window.ROUTES = {
      album: "{{ apiAdminAlbumPathJS }}",
      image: "{{ apiAdminImagePath .Image.RoutesImagedID }}",
    };
    window.IMAGE_ID = {{ .Image.ID }};
{{ end }}

{{ define "main" }}
<div class="breadcrumbs-wrapper">
{{- with .Breadcrumbs }}
    {{- template "partials/breadcrumbs.html" . -}}
{{- end -}}
{{- template "partials/admin/image-ctx-menu.html" . -}}
</div>

<div class="admin-layout image-page">
    {{- template "partials/admin/action-rail.html" . -}}

    <div class="content">
        <div id="flash-container">
        </div>
        <div class="column column-1">
            <div class="image-panel panel panel-pos" >
                <div class="image-preview " style="--ratio: {{.Image.ClampedAspect}};">
                    <img
                        class="derivative-img"
                        src="{{ imagePath .Image.RoutesImagedID "s800" }}"
                        loading="lazy"
                        decoding="async"
                    >

                    <div class="media-box" style="--fx: {{.Image.ComputedFocus.FocusX}};--fy: {{.Image.ComputedFocus.FocusY}}; --real-ratio: {{.Image.CalculatedAspect}};">
                        {{template "partials/admin/reticle.html" }}
                    </div>
                </div>
            </div>
            <div class="image-subject-panel panel panel-pos" >
                <div class="image-title {{ if not .Image.HasTitle }}meta-empty{{ end }}">{{ .Image.NormalisedTitle }}</div>
                <div class="image-title {{ if not .Image.HasSubject }}meta-empty{{ end }}">{{ .Image.NormalisedSubject }}</div>
            </div>
            <div class="image-fs-panel panel panel-pos" >
                <div class="title">{{ t "page.admin.image.title.filesystem"}}</div>
                <div class="data-table">
                    <div class="label">{{ t "page.admin.image.label.root"}}:</div>
                    <div class="root">{{ .Image.Root}}</div>

                    <div class="image-path width-2">{{.Image.Path}}/{{.Image.Filename}}.{{.Image.Ext}}</div>
                    <div class="label">{{- t "page.admin.image.label.created"}}:</div>
                    <div class="image-time mtime">{{- formatTime .Image.MTime }}</div>
     
                    {{- if .Image.MetaHash -}}
                    <div class="image-meta has-sidecard width-2"><i class="fa-regular fa-circle-check" icon></i>{{- t "page.admin.image.data.sidecard.yes"}}</div>
                    {{- else -}}
                    <div class="image-meta has-not-sidecard width-2"><i class="fa-regular fa-circle-xmark icon"></i>{{- t "page.admin.image.data.sidecard.no"}}</div>
                    {{- end -}}
                </div>
            </div>
            <div class="image-date-panel panel panel-pos" >
                <div class="title">{{ t "page.admin.image.title.lifecycle"}}</div>
                <div class="data-table">
                    <div class="label">{{ t "page.admin.image.label.imported"}}:</div>
                    <div class="image-time created">{{ formatTime .Image.CreatedAt }}</div>
                    <div class="label">{{ t "page.admin.image.label.modify"}}:</div>
                    <div class="image-time updated">{{ formatTime .Image.UpdatedAt }}</div>
                </div>
            </div>
            <div class="image-history-panel panel panel-pos" >
                <div class="title-button title"><div>{{ t "page.admin.image.title.history"}}</div><a href="{{ adminSyncFilesPathPath .Image.PathFull }}" class="action">{{- template "icon" (i "action.admin.image.history" (t "nav.page.admin.sync_files.label")) -}}</a></div>
                <div class="data-table">
                    <div class="last-sync width-2">{{ formatTime .Image.Sync.LastSync }} - {{ t (printf "data.sync_files.status.%s.short" .Image.Sync.LastStatus)}}</div>
                    {{ if .Image.Sync.LastUpdated }}
                    <div class="image-time updated label">{{ t "page.admin.image.label.modify"}}:</div>
                    <div>{{ formatTime .Image.Sync.LastUpdated }}</div>
                    {{- end -}}
                </div>
            </div>
            <div class="image-grid-panel panel panel-pos" >
                <div class="title">{{ t "page.admin.image.title.display"}}</div>
                <div class="grid-panel data-table">
                    <div class="label">{{ t "page.admin.image.label.image_size"}}:</div>
                    <div class="image-grid aspect">{{ .Image.Width }} &times; {{ .Image.Height }}</div>
                    <div class="label">{{ t "page.admin.image.label.aspect"}}:</div>
                    <div class="image-grid aspect">{{ .Image.CalculatedAspectString }}</div>
                    <div class="label">{{ t "page.admin.image.label.aspect_grid"}}:</div>
                    <div class="image-grid type">{{ t (printf "data.image.aspect.%s.short" .Image.Aspect)}}</div>

                </div>
            </div>
            {{- if .Image.SingleMap -}}
            <div>
                <div class="title">{{ t "page.admin.image.title.location"}}</div>
                <div>{{ formatLatitude .Image.SingleMap.Lat }}, {{ formatLongitude .Image.SingleMap.Long }}</div>
                {{ template "partials/map/single-map.html" .Image.SingleMap }}
            </div>
            {{- end -}}
        </div>
        <div class="column column-2">
            <div class="image-state-panel panel panel-pos" >
                <div class="title">{{ t "page.admin.common.acl_settings"}}</div>
                {{ with .Image.Form }}           
                    {{ template "partials/admin/acl-settings.html" .}}
                {{ end }}
            </div>
            <div class="image-focus-panel panel panel-pos" >
                <div class="title">{{ t "page.admin.image.title.focus_settings"}}</div>           
                {{ template "partials/admin/focus-settings.html" .}}
            </div>
            <div class="image-covers-panel panel panel-pos">
                <div class="title">{{ t "page.admin.image.title.cover"}}</div>
                    <div
                        id = "covers"
                        class="xselect"
                        data-mode="multiple"
                        data-src='{{ apiAdminAlbumsPath "tree" }}'
                        data-name="covers"
                        data-label-key="name"
                        data-pill-label-key="fullName"
                        ><script type="application/json" class="xselect-selected">
                        {{ .Image.CoversArray }}
                        </script>
                        </div>
            </div>
            <div class="image-action-panel panel panel-pos">
                <div class="title">{{ t "page.admin.image.title.actions"}}</div>
            </div>
        </div>
        <div class="column column-3 max-width">
            <div class="image-metadatas-panel panel panel-pos">
                <div class="title">{{ t "page.admin.image.title.metadata"}}</div>
                <div class="metadata-panel">
                     {{ template "partials/admin/image-metadata.html" .Image.MetadataDB }}
                </div>           
                <div class="metadata-panel">
                     {{ template "partials/admin/image-metadata.html" .Image.Metadata }}
                </div>           
            </div>
            <div class="tag-tree-panel panel panel-size" >
                <div class="title">{{ t "page.admin.image.title.tags"}}</div>
                <div class="tag-tree-box tree-wrapper">
                    {{ template "partials/tag-forest.html" .Image.Tags.Roots }}
                </div>

            </div>
            <div class="album-tree-panel panel panel-size" >
                <div class="title">{{ t "page.admin.image.title.albums"}}</div>
                <div class="tag-tree-box tree-wrapper">
                    {{ template "partials/tag-forest.html" .Image.Albums.Roots }}
                </div>

            </div>

        </div>

    <div>
</div>
{{ end }}