
{{ define "main" }}
<div class="breadcrumbs-wrapper">
{{- with .Breadcrumbs }}
    {{- template "partials/breadcrumbs.html" . -}}
{{- end -}}
</div>

<div class="admin-layout syncfile-page">
    {{- template "partials/admin/action-rail.html" . -}}
    <div class="content">
        <div class="data-header">
            <div class="label">{{- t "page.admin.sync.path.label" }}:</div><div class="filename">{{ .File.FullPathText }}</div>
            <div class="label">{{- t "page.admin.sync.time.label" }}:</div><div class="date">{{formatTime .File.CreatedAt }} ({{ formatDuration .File.Age }})</div>
            <div class="label">{{- t "page.admin.sync.status.label" }}:</div><div class="sync-status {{.File.Status}}">
                {{ template "icon" (i (printf "data.sync_file.status.%s" .File.Status)
                (t (printf "data.sync_files.status.%s.label" .File.Status))
                )}}
                {{ t (printf "data.sync_files.status.%s.label" .File.Status) }}
            </div>
            {{- if and ( .File.DirtyReasonText) ( eq .File.DirtyReasonText "updated") -}}
            <div class="label">{{- t "page.admin.sync.dirty.label" }}:</div><div class="dirty">
                {{ .File.DirtyReason }}
            </div>
            {{- end -}}
        </div>
        <div class="rules-block"><div class="rules-block-label">{{- t "page.admin.sync_file.rules" }}</div>
        {{ range .File.ResultOrder }}
            {{- $key := . -}}
            {{- with index $.File.RuleResult . -}}
            <div class="evaluation-block">
                <div class="evaluation-label">{{- t (printf "ruleengine.results.evaluation.%s" $key )}}:</div>
                <div class="evaluation">
                    {{ range $i, $r := . }}
                        <div class="rulegroup">
                            <div class="rule-header">
                                <input type="checkbox" id="collapsible-rule-{{ $key }}-{{ $i }}" class="collapsible-toggle collapsible">
                                <label class="buttons collapsible-label" for="collapsible-rule-{{ $key }}-{{ $i }}">
                                    <div class="collapsible-action">
                                        {{- template "icon" (i "action.collapsible.toggle" (t "nav.collapsible.toggle") "collapsible-toggle-icon")}}
                                    </div>
                                </label>
                                <div class="rule-meta">
                                    <div class="rule-value">{{ $r.Name }}</div>
                                    <div class="rule-value">
                                        {{ template "icon" (i 
                                            (printf "data.sync.%t" $r.Result)
                                            (t (printf "ruleengine.results.result_value.%t" $r.Result))
                                            (printf "match-%t" $r.Result)
                                        )}}{{- t (printf "ruleengine.results.result_value.%t" $r.Result) }}
                                    </div>
                                    <div class="rule-value">{{- t (printf "ruleengine.rule.rule_op.%s.label" $r.Op )}}</div>
                                </div>
                            </div>
                            <div class="rule-descriptions collapsible-content">
                                {{ range $r.RuleResults}}
                                    <div class="rulegroup-rules">
                                        <div class="rule-label">{{- t (printf "ruleengine.rule.%s.label" .Type )}}:</div>
                                        <div class="rule-evaluation-block">
                                            <div class="rule-evaluation-block-header">
                                                <div class="rule-value">{{ .Name }}</div>
                                                <div class="rule-value">
                                                    {{ template "icon" (i 
                                                        (printf "data.sync.%s" .Result)
                                                        (t (printf "ruleengine.results.result_value.%s" .Result))
                                                        (printf "match-%s" .Result)
                                                    )}}{{- t (printf "ruleengine.results.result_value.%s" .Result) }}
                                                </div>
                                                <div class="rule-value">{{- t (printf "ruleengine.rule.op.%s.label" .Op )}}</div>
                                            </div>
                                            <div class="rule-params">
                                                <div class="rule-label">{{- t "ruleengine.results.parameters" }}:</div>
                                                <div class="rule-label">{{- t "ruleengine.results.input" }}:</div>
                                                <div class="rule-excepted rule-param-block">
                                                    {{- range .Params -}}
                                                    <div class="rule-label">{{- t (printf "ruleengine.results.params.%s" .Name )}}:</div>
                                                    <div class="rule-param">
                                                        {{- range .Value -}}
                                                            <div class="rule-value">{{ warpPath . }}</div>
                                                        {{- end -}}
                                                    </div>
                                                    {{- end -}}
                                                </div>
                                                <div class="rule-actual rule-param-block">
                                                    {{- range .Actual -}}
                                                    <div class="rule-label">{{- t (printf "ruleengine.results.params.%s" .Name )}}:</div>
                                                    <div class="rule-param">
                                                        {{- range .Value -}}
                                                            <div class="rule-value">{{ . }}</div>
                                                        {{- end -}}
                                                    </div>
                                                    {{- end -}}
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {{ end }}
                            </div>
                        </div>                        
                    {{- end -}}
                </div>
            </div>
            {{- end -}}
        {{ end }}

        </div>

    </div>
</div>
{{ end }}
