<aside class="action-rail">
    <div class="rail-inner">
        <a href="{{ adminFsPath }}" class="action"><i class="icon fa-solid fa-folder" title="{{ t "nav.page.admin.images.label" }}"></i>
            <div class="label">{{ t "nav.page.admin.images.short" }}</div>
        </a>
        <a href="{{ adminAlbumsPath }}" class="action"><i class="icon fa-solid fa-images" title="{{ t "nav.page.admin.albums.label" }}"></i>
            <div class="label">{{ t "nav.page.admin.albums.short" }}</div>
        </a>

        <a href="{{ adminSyncRunsPath }}" class="action"><i class="icon fa-solid fa-file-lines" title="{{ t "nav.page.admin.sync_runs.label" }}"></i>
            <div class="label">{{ t "nav.page.admin.sync_runs.short" }}</div>
        </a>
        <a href="{{ adminSyncFilesPath }}" class="action"><i class="icon fa-solid fa-clock-rotate-left" title="{{ t "nav.page.admin.sync_files.label" }}"></i>
            <div class="label">{{ t "nav.page.admin.sync_files.short" }}</div>
        </a>

   
    </div>
</aside>
