<fieldset class="focus-group radio-group">
  {{ template "partials/admin/radio-button.html" (dict
    "Current" .Image.FocusMode
    "Class" "focus-item"
    "Name" "focus"
    "Value" "top"
    "Icon" "data.image.focus.top"
    "IconTitle" (t "data.image.focus.top.label")
    "Label" (t "data.image.focus.top.short")
  )}}
  {{ template "partials/admin/radio-button.html" (dict
    "Current" .Image.FocusMode
    "Class" "focus-item"
    "Name" "focus"
    "Value" "bottom"
    "Icon" "data.image.focus.bottom"
    "IconTitle" (t "data.image.focus.bottom.label")
    "Label" (t "data.image.focus.bottom.short")
  )}}
  {{ template "partials/admin/radio-button.html" (dict
    "Current" .Image.FocusMode
    "Class" "focus-item"
    "Name" "focus"
    "Value" "left"
    "Icon" "data.image.focus.left"
    "IconTitle" (t "data.image.focus.left.label")
    "Label" (t "data.image.focus.left.short")
  )}}
  {{ template "partials/admin/radio-button.html" (dict
    "Current" .Image.FocusMode
    "Class" "focus-item"
    "Name" "focus"
    "Value" "right"
    "Icon" "data.image.focus.right"
    "IconTitle" (t "data.image.focus.right.label")
    "Label" (t "data.image.focus.right.short")
  )}}
  {{ template "partials/admin/radio-button.html" (dict
    "Current" .Image.FocusMode
    "Class" "focus-item"
    "Name" "focus"
    "Value" "center"
    "Icon" "data.image.focus.center"
    "IconTitle" (t "data.image.focus.center.label")
    "Label" (t "data.image.focus.center.short")
  )}}

  <label class="focus-item focus-manual radio-item">
    <div class="radio-row">
      <input type="radio" name="focus" value="manual"
      {{ if eq .Image.FocusMode "manual" }}checked{{ end }}
      >
      {{ template "icon" (i "data.image.focus.manual" (t "data.image.focus.manual.label"))}}
      <span>{{ t "data.image.focus.manual.short" }}</span>
    </div>
    <div class="manual-focus data-table radio-option">
      <label>{{ t "data.image.focus.x" }}</label>
      <input type="text" name="focus_x"/>
      <label>{{ t "data.image.focus.y" }}</label>
      <input type="text" name="focus_y"/>
    </div>
  </label>
  {{ template "partials/admin/radio-button.html" (dict
    "Current" .Image.FocusMode
    "Class" "focus-item"
    "Name" "focus"
    "Value" "auto"
    "Icon" "data.image.focus.auto"
    "IconTitle" (t "data.image.focus.auto.label")
    "Label" (t "data.image.focus.auto.short")
  )}}


</fieldset>