

/* ==========================================================================
   Brand
   ========================================================================== */
.site-brand{
  background: var(--bg-context);
  font-size: var(--font-size-brand);
  padding-top: var(--space-9);     
  padding-bottom: var(--space-10);
  padding-left:  var(--space-page-x);
  padding-right: var(--space-page-x);  
}
.site-brand-inner{
  color: var(--text-primary);
  display: flex;
  flex-direction: row;
  gap: var(--space-4);
}
.site-brand .brand-logo{
    opacity: 0.9;
}
.site-brand .brand-logo svg{
    height: 2.5rem;
    color: var(--text-secondary)
}
.site-brand .brand-logo.large svg{
    height: var(--space-12);
}

.site-brand .text{
  display: flex;
  flex-direction: column;
}
.site-brand .name{
    font-family: var(--font-serif);
}

.site-brand .headline {
  padding-top: var(--space-4);
  font-family: var(--font-sans);
  font-size: var(--font-size-tagline);
  line-height: var(--line-height-normal);
  color: var(--text-secondary);
}

/* ==========================================================================
   Image Grid
   ========================================================================== */

.imageGrid {
  padding: var(--space-4) 0; 

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: calc((100% / 12) * 4 / 5);
  grid-auto-rows: calc(var(--col-width) * 4 / 5);
  grid-auto-flow: row dense; 
  gap: var(--space-4); /* 16px */
}

.caption{
  display: none;
}

@media (max-width: 1024px) {
  .imageGrid {
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: calc((100% / 6) * 4 / 5);
    grid-auto-rows: calc(var(--col-width) * 4 / 5);
    gap: var(--space-3); /* 12px */
  }
}
@media (max-width: 600px) {
  .imageGrid {
    display: flex;
    flex-direction: column;
    gap: var(--space-2); /* 8px */
  }
}
.tile > a {
  display: block;
  width: 100%;
  height: 100%;
}

.tile img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position:
    clamp(var(--min-x), calc(var(--fx) * 100%), var(--max-x))
    clamp(var(--min-y), calc(var(--fy) * 100%), var(--max-y));
}
.tile{
  grid-column: calc(var(--p12x) + 1) / span var(--p12w);
  grid-row:    calc(var(--p12y) + 1) / span var(--p12h);
}
