{{ define "page-head" }}
    {{- if .Image.SingleMap -}}
       {{template "partials/map/head.html" }}
    {{- end -}}
{{ end }}

{{ define "page-js"}}
    {{- if .Next -}}
        window.SLIDESHOW = {
        next: "{{ .Next.Url }}",
        delay: 5000
        }
    {{- end -}}
{{ end }}

{{ define "main" }}
<div class="breadcrumbs-wrapper">
{{- if .Breadcrumbs }}
    {{- template "partials/breadcrumbs.html" .Breadcrumbs -}}
{{- end -}}
    <div class="ctx-menu">
        {{- if .Prev -}}
        <a class="action off-fs" href="{{ .Prev.Url }}">
            {{- template "icon" (i "action.common.prev" .Prev.Title) -}}
        </a>
        {{- else -}}
        <span class="action disabled off-fs">
            {{- template "icon" (i "action.common.prev" (t "action.public.image.prev.label")) -}}
        </span>
        {{- end -}}

        <a class="action off-fs" href="{{ .Up }}">
            {{- template "icon" (i "action.public.image.back" (t "action.public.image.back.label")) -}}
        </a>

        {{- if .Next -}}
        <a class="action off-fs" href="{{ .Next.Url }}">
            {{- template "icon" (i "action.common.next" .Next.Title) -}}
        </a>
        {{- else -}}
        <span class="action disabled off-fs">
            {{- template "icon" (i "action.common.next" (t "action.public.image.next.label")) -}}
        </span>
        {{- end -}}

        {{- if eq .User.Role "admin" -}}
        <a href="{{ adminImagePath .Image.RoutesImagedID }}" class="action button action-admin">
            {{- template "icon" (i "action.public.image.open_admin" (t "action.public.image.open_admin.label") "admin-icon") -}}
        </a>
        {{- end -}}        

        <a class="ctx-btn action off-fs" id="fullscreen-on">
            {{- template "icon" (i "action.public.image.fullscreen_on" (t "action.public.image.fullscreen_on.label")) -}}
        </a>
        <a class="ctx-btn action on-fs" id="fullscreen-off">
            {{- template "icon" (i "action.public.image.fullscreen_off" (t "action.public.image.fullscreen_off.label")) -}}
        </a>

        <input type="checkbox" id="toggle-info" class="ctx-toggle">
        <label for="toggle-info" class="ctx-btn action off-fs">
            {{- template "icon" (i "action.public.image.info" (t "action.public.image.toggle_info.label")) -}}
        </label>

        <input type="checkbox" id="toggle-slideshow" class="ctx-toggle">
        <label for="toggle-slideshow" class="ctx-btn action on-fs">
            {{- template "icon" (i "action.public.image.slideshow" (t "action.public.image.toggle_slideshow.label")) -}}
        </label>
    </div>
</div>
<div class="content image-page">
  <div class="image-content">
    <div class="image-wrapper">
        <div class="image" id="theImage">
            <img src="{{ imagePath .Image.RoutesImagedID "w2400" }}"
               class="derivative-img"
            />
            <figcaption class="caption">{{ .Image.Image.GetTitle }}</figcaption>
        </div>
    </div>
    <div class="overlay">
        <div class="image-nav left image-nav-prev">
            {{- if .Prev -}}
            <a class="action" href="{{ .Prev.Url }}">
                {{- template "icon" (i "action.common.prev" .Prev.Title) -}}
            </a>
            {{- end -}}
        </div>
        <div class="image-nav up image-nav-up">
            <a class="action" href="{{ .Up }}">
                {{- template "icon" (i "action.public.image.back" (t "action.public.image.back.label")) -}}
            </a>
        </div>
        <div class="right">
            <div class="image-nav image-nav-next">
            {{- if .Next -}}
            <a class="action" href="{{ .Next.Url }}">
                {{- template "icon" (i "action.common.next" .Next.Title) -}}
            </a>
            {{- end -}}
            </div>
            <aside class="viewer-info" id="info-panel">
                <div class="info-content">
                    {{- with .Image.Metadata -}}
                        {{- if .Title -}}
                            <div class="title">{{ .Title }}</div>
                        {{- end -}}
                        {{- if .Description -}}
                            <div class="description">{{ .Description }}</div>
                        {{- end -}}
                        {{- range .Blocks -}}
                            <div class="metadata">
                                {{- range .Data}}
                                    <div class="value">{{ . }}</div>
                                {{- end -}}
                            </div>
                        {{- end -}}
                    {{- end -}}
                    {{- if .Image.SingleMap -}}
                    <div>
                        {{ template "partials/map/single-map.html" .Image.SingleMap }}
                    </div>
                    {{- end -}}

                    <div class="tag-tree-box tree-wrapper">
                        {{ template "partials/tag-forest.html" .Image.Tags.Roots }}
                    </div>

                </div>
            </aside>
        </div>
    </div>
  </div>
  {{- if .Thumbnails -}}
    <div class="image-thumbs">
        {{- if .Thumbnails.BeforeUrl -}}
            <a href="{{.Thumbnails.BeforeUrl}}" class="action">
                {{- template "icon" (i "action.common.prev" (t "nav.pagination.prev.label")) -}}
            </a>
        {{- else -}}
            <span class="action disabled">
                {{- template "icon" (i "action.common.prev" (t "nav.pagination.prev.label")) -}}
            </span>
        {{- end -}}
        {{- range .Thumbnails.Images -}}
            <div class="thumbnail">
                {{- if . -}}
                    {{- if .Url -}}
                    <a href="{{ .Url }}">
                        <img src="{{ imagePath .ImageId "s400" }}" title="{{ .Title }}" class="derivative-img"/>
                    </a>
                    {{- else -}}
                        <img src="{{ imagePath .ImageId "s400" }}" class="derivative-img"/>
                    {{- end -}}
                {{- end -}}
            </div>
        {{- end -}}
        {{- if .Thumbnails.AfterUrl -}}
            <a href="{{.Thumbnails.AfterUrl}}" class="action">
                {{- template "icon" (i "action.common.next" (t "nav.pagination.next.label")) -}}
            </a>
        {{- else -}}
            <span class="action disabled">
                {{- template "icon" (i "action.common.next" (t "nav.pagination.next.label")) -}}
            </span>
        {{- end -}}
    </div>
  {{- end -}}        
</div>
{{ end }}