{{ define "main" }}
<div id="brand" class="site-brand">
    <div class="site-brand-inner">
    {{- if .Site.Logo -}}
        <div class="brand-logo {{ if .Site.Headline }}large{{ end }}">
            {{- siteIcon .Site.Logo -}}
        </div>
    {{- end -}}
        <div class="text">
            <div class="name">
                {{- .Site.Title -}}
            </div>
            {{- with .Site.Headline}}
            <div class="headline">
                {{- . -}}
            </div>
            {{- end -}}
        </div>
    </div>
</div>
<div class="content">
    {{  template "partials/grid.html" . }}
</div>
{{ end }}