{{ define "main" }}
<div id="brand" class="site-brand">
    <div class="site-brand-inner">
    {{- if .Site.Logo -}}
        <div class="brand-logo {{ if .Site.Headline }}large{{ end }}">
            {{- siteIcon .Site.Logo -}}
        </div>
    {{- end -}}
        <div class="text">
            <div class="name">
                {{- .Site.Title -}}
            </div>
            {{- with .Site.Headline}}
            <div class="headline">
                {{- . -}}
            </div>
            {{- end -}}
        </div>
    </div>
</div>
<div class="content main-page">
    <div class="ctx-menu">
        <div class="action"><a href="{{ albumsRootPath }}">Albums</a>
        </div>
        {{ range .DailyTags -}}
        <div class="sep">·</div>
        <div class="action"><a href="{{ .Url }}" title="{{ t (printf "page.public.main.daily.%s" .Type) (dict "tag" .Name) }}">{{ .Name }}</a></div>
        {{end -}}
    </div>
    {{  template "partials/image-grid.html" .ImageGrid }}
</div>
{{ end }}